
  <% @sitting_info.each do |n| %>
    <ul>
      <% if !n.notes.blank? %>
        <li><%= n.notes %></li>
      <% end %>
    </ul>
  <% end %>

  <p><%= link_to 'Add a sitting', new_earned_badge_path %></p>

