
  <% @sitting_info.each do |n| %>
    <ul>
      <% if !n.notes.blank? %>
        <li><%= n.notes %></li>
      <% end %>
    </ul>
  <% end %>
  <br><br>
  <p><%= link_to 'Record another meditation session', new_earned_badge_path %></p>

