</br></br></br></br>

  <button><%= link_to "Sign up to start your journey", new_user_registration_path %></button>
  <br><br>
  <button><%= link_to "Sign in to continue on your path", new_user_session_path %></button>

