
<%= form_for(@sitting) do |f| %>
    <div id='start-view'>
        <div id='start-button'>
            <%= f.button :start_time%>
        </div>
    </div>
    <div id='end-button'>
        <%= f.button :end_time %><br>
    </div>

<% end %>
