<%= form_for @sitting_note do |f| %>

  <div id='note-area'>
    <%= f.label 'How was your meditation session?' %><br>
    <%= f.text_area :notes %>
    <div id='submit-button'>
        <%= f.button 'Add your sitting note' %><br>
    </div>
<% end %>
