<div id='earned-badges-box'>
  <!-- <span style="float:right"> -->
  <% if user_signed_in? %>
    <h2>Your Badges</h2>
    <% @earned_badges.each do |eb| %>
      <ul>
      <ol><%= eb.badge_type.img_url %></ol><br>
      </ul>
    <% end %>
  <% end %>
  <!-- </span> -->
</div>
