<div class="container" id="main">

  <div class="navbar navbar-fixed-top">
    <div class="container">
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <button class="navbar-toggle" data-target=".navbar-responsive-collapse" data-toggle="collapse" type="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand pull-left" href="/">The Restful Mind</a>

      <% if user_signed_in? %>
        <div class="nav-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav pull-right">
            <div class="dropdown">
              <a data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user">My Account <strong class="caret"></strong></a>

              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li>
                  <span class="glyphicon glyphicon-refresh"></span>
                  <%= link_to 'Change quote list', edit_user_registration_path %>
                </li>

                <li class="divider"></li>

                <li>
                   <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
                </li>
              </ul><!-- end dropdown-menu -->
            </div> <!-- end dropdown-men -->
          </ul> <!-- end navbar-nav> -->
        </div> <!-- end navbar-responsive collapse -->
      <% end %>
    </div>
  </div> <!-- end div navbar-fixed-top -->
</div> <!-- end div container main -->
